In [1]:
liked_books = ["4408", "31147619", "29983711", "9401317", "9317691", "8153988", "20494944"]

In [2]:
!head book_id_map.csv

book_id_csv,book_id
0,34684622
1,34536488
2,34017076
3,71730
4,30422361
5,33503613
6,33517540
7,34467031
8,6383669

In [2]:
csv_book_mapping = {}

with open("book_id_map.csv", "r") as f:
    while True:
        line = f.readline()
        if not line:
            break
        csv_id, book_id = line.strip().split(",")
        csv_book_mapping[csv_id] = book_id

In [3]:
csv_book_mapping['0']

'34684622'

In [5]:
!wc -l goodreads_interactions.csv

 228648343 goodreads_interactions.csv

In [6]:
!ls -lh | grep goodreads_interactions.csv

-rw-rw-rw-@ 1 vik  staff   4.0G Feb  8 17:49 goodreads_interactions.csv

In [6]:
with open("goodreads_interactions.csv", 'r') as f:
    firstline = f.readline()
print(firstline)

user_id,book_id,is_read,rating,is_reviewed

In [7]:
overlap_users = set()

with open("goodreads_interactions.csv", 'r') as f:
    while True:
        line = f.readline()
        if not line:
            break
        user_id, csv_id, _, rating, _ = line.split(",")
        
        if user_id in overlap_users:
            continue

        try:
            rating = int(rating)
        except ValueError:
            continue
        
        book_id = csv_book_mapping[csv_id]
        
        if book_id in liked_books and rating >= 4:
                overlap_users.add(user_id)

In [8]:
overlap_users

{'93072',
 '632780',
 '73024',
 '385762',
 '694904',
 '41502',
 '199306',
 '57928',
 '437048',
 '433071',
 '139667',
 '318120',
 '108910',
 '395334',
 '361805',
 '69460',
 '152679',
 '251745',
 '392432',
 '71066',
 '192648',
 '298786',
 '4472',
 '174642',
 '308806',
 '155530',
 '10392',
 '366539',
 '434479',
 '186502',
 '6641',
 '14844',
 '327266',
 '269889',
 '45608',
 '209016',
 '334029',
 '39128',
 '97724',
 '18826',
 '349745',
 '116343',
 '130537',
 '206249',
 '11829',
 '248713',
 '251770',
 '26448',
 '16154',
 '282217',
 '180675',
 '73772',
 '355820',
 '412822',
 '410321',
 '398312',
 '156223',
 '196386',
 '165745',
 '74374',
 '438433',
 '226698',
 '157782',
 '378430',
 '259761',
 '115082',
 '359194',
 '269319',
 '274999',
 '62670',
 '385692',
 '69724',
 '288023',
 '18754',
 '78806',
 '333194',
 '107180',
 '286049',
 '63287',
 '9959',
 '414998',
 '425189',
 '587245',
 '209728',
 '173905',
 '4931',
 '57972',
 '311193',
 '394588',
 '330724',
 '228053',
 '172544',
 '291409',
 '271778',
 '72802',
 '195236',
 '125354',
 '332912',
 '352347',
 '17376',
 '429715',
 '22487',
 '237843',
 '248588',
 '37291',
 '26662',
 '26496',
 '189569',
 '302483',
 '407446',
 '418645',
 '238176',
 '360801',
 '22360',
 '104934',
 '304288',
 '206966',
 '615754',
 '42629',
 '229942',
 '37512',
 '440071',
 '765062',
 '203347',
 '433962',
 '54158',
 '239126',
 '61082',
 '93000',
 '343765',
 '91179',
 '429674',
 '137060',
 '459484',
 '351346',
 '195274',
 '6698',
 '558',
 '374322',
 '57775',
 '391592',
 '17950',
 '437917',
 '134653',
 '60685',
 '354825',
 '405885',
 '325607',
 '43279',
 '197945',
 '827294',
 '431280',
 '120992',
 '136826',
 '305975',
 '354154',
 '70898',
 '102769',
 '81947',
 '278320',
 '368673',
 '335151',
 '424569',
 '76231',
 '162806',
 '332392',
 '358980',
 '62397',
 '380834',
 '323254',
 '38351',
 '307967',
 '218014',
 '198832',
 '407417',
 '91420',
 '39702',
 '147604',
 '158846',
 '85264',
 '276964',
 '421996',
 '310453',
 '389620',
 '5372',
 '440778',
 '370838',
 '152416',
 '181662',
 '347857',
 '337137',
 '293731',
 '827474',
 '85217',
 '436709',
 '7121',
 '35886',
 '15705',
 '133538',
 '301662',
 '491927',
 '347364',
 '332838',
 '54940',
 '259647',
 '358283',
 '389331',
 '358840',
 '43119',
 '39356',
 '434561',
 '379814',
 '93121',
 '189573',
 '241729',
 '330855',
 '345104',
 '157986',
 '427007',
 '178926',
 '284137',
 '15093',
 '12557',
 '45007',
 '182849',
 '226553',
 '352129',
 '11559',
 '331798',
 '322152',
 '208352',
 '470082',
 '374475',
 '10847',
 '223898',
 '114998',
 '389534',
 '132741',
 '254664',
 '83532',
 '380458',
 '19310',
 '107163',
 '192927',
 '5839',
 '194945',
 '262399',
 '469092',
 '334077',
 '347210',
 '345118',
 '407035',
 '349775',
 '356395',
 '433069',
 '113176',
 '144080',
 '358078',
 '321908',
 '296503',
 '105602',
 '72466',
 '422297',
 '3928',
 '759354',
 '767701',
 '129506',
 '380112',
 '294325',
 '290609',
 '628946',
 '109930',
 '155887',
 '303523',
 '215690',
 '373519',
 '281553',
 '412125',
 '544853',
 '331663',
 '217549',
 '139452',
 '151670',
 '431725',
 '274915',
 '36158',
 '218740',
 '349066',
 '790144',
 '22921',
 '603692',
 '88554',
 '51214',
 '276534',
 '286392',
 '323171',
 '373460',
 '209927',
 '261794',
 '387199',
 '45079',
 '231144',
 '192627',
 '267591',
 '75677',
 '244848',
 '375906',
 '18847',
 '361684',
 '41256',
 '245836',
 '285209',
 '519106',
 '477452',
 '132846',
 '382427',
 '263081',
 '364547',
 '95817',
 '199130',
 '61868',
 '252224',
 '93682',
 '873216',
 '389364',
 '249715',
 '215031',
 '808350',
 '345619',
 '740194',
 '4276',
 '245537',
 '343342',
 '86879',
 '65923',
 '366525',
 '208330',
 '398361',
 '84888',
 '327723',
 '167179',
 '686468',
 '432016',
 '67795',
 '118997',
 '295021',
 '667766',
 '103484',
 '261568',
 '202482',
 '164780',
 '287828',
 '249328',
 '398666',
 '218010',
 '917',
 '46731',
 '235300',
 '346680',
 '371281',
 '16694',
 '368882',
 '255974',
 '11406',
 '10805',
 '391875',
 '312189',
 '175985',
 '52291',
 '375211',
 '83222',
 '32183',
 '266628',
 '330159',
 '258578',
 '298556',
 '349998',
 '367808',
 '397398',
 '99815',
 '129784',
 '545504',
 '38775',
 '234991',
 '325650',
 '270537',
 '307762',
 '160449',
 '835720',
 '848543',
 '9712',
 '234767',
 '387144',
 '381820',
 '283500',
 '497819',
 '231467',
 '402184',
 '264635',
 '5872',
 '279105',
 '684686',
 '172429',
 '383316',
 '418277',
 '217110',
 '169159',
 '323079',
 '355932',
 '235250',
 '321221',
 '85762',
 '427639',
 '401994',
 '32114',
 '395420',
 '187066',
 '370161',
 '345189',
 '134110',
 '179509',
 '275866',
 '426551',
 '36435',
 '375041',
 '67259',
 '125022',
 '219722',
 '339940',
 '310757',
 '471343',
 '309061',
 '407902',
 '103381',
 '188703',
 '399190',
 '185654',
 '310670',
 '132527',
 '388247',
 '245204',
 '51798',
 '374186',
 '31195',
 '292511',
 '337499',
 '224715',
 '331360',
 '292583',
 '116372',
 '295330',
 '196106',
 '267167',
 '84848',
 '284868',
 '29542',
 '313744',
 '6251',
 '417170',
 '421912',
 '74293',
 '181801',
 '85455',
 '414564',
 '413654',
 '201716',
 '420058',
 '381428',
 '405194',
 '1448',
 '669251',
 '258430',
 '747049',
 '312064',
 '3681',
 '774249',
 '294320',
 '183331',
 '15479',
 '186776',
 '350992',
 '44000',
 '287079',
 '180248',
 '198074',
 '257205',
 '194265',
 '293302',
 '825612',
 '207327',
 '394547',
 '269342',
 '33826',
 '685799',
 '139218',
 '395162',
 '293734',
 '86969',
 '261369',
 '408835',
 '178406',
 '378133',
 '75591',
 '729725',
 '332130',
 '331185',
 '248513',
 '331850',
 '117725',
 '2285',
 '196469',
 '204069',
 '249984',
 '191515',
 '373541',
 '193530',
 '438702',
 '130382',
 '375388',
 '229593',
 '422427',
 '356846',
 '4629',
 '378992',
 '344258',
 '387266',
 '123718',
 '739806',
 '267111',
 '302660',
 '45728',
 '161934',
 '16679',
 '35286',
 '201861',
 '268161',
 '10365',
 '79598',
 '355378',
 '85129',
 '338754',
 '9550',
 '299',
 '138252',
 '439908',
 '238040',
 '95439',
 '206716',
 '250838',
 '288340',
 '60789',
 '245866',
 '100907',
 '49117',
 '344911',
 '136894',
 '200543',
 '125578',
 '218160',
 '860889',
 '441983',
 '856148',
 '73097',
 '139375',
 '338402',
 '117978',
 '171400',
 '305988',
 '786557',
 '50471',
 '175783',
 '351507',
 '430660',
 '440140',
 '42006',
 '761911',
 '228754',
 '253919',
 '16486',
 '301343',
 '275910',
 '366903',
 '284564',
 '152618',
 '440384',
 '392998',
 '392138',
 '348409',
 '20219',
 '291138',
 '406444',
 '250653',
 '205864',
 '126355',
 '93699',
 '372985',
 '386688',
 '413527',
 '424062',
 '373181',
 '342356',
 '28564',
 '361950',
 '170102',
 '438951',
 '244575',
 '77103',
 '209441',
 '183363',
 '356567',
 '401779',
 '353036',
 '408907',
 '386982',
 '23317',
 '218285',
 '50659',
 '474901',
 '193741',
 '8648',
 '44187',
 '428909',
 '707624',
 '25844',
 '24372',
 '266416',
 '422067',
 '45285',
 '414388',
 '203257',
 '268246',
 '644686',
 '11016',
 '420578',
 '70283',
 '82536',
 '110530',
 '217078',
 '194054',
 '160510',
 '785738',
 '358851',
 '239528',
 '291150',
 '410301',
 '352054',
 '95392',
 '720668',
 '274841',
 '137703',
 '124138',
 '317360',
 '320357',
 '356734',
 '780177',
 '228572',
 '439274',
 '156595',
 '164350',
 '249128',
 '316484',
 '139061',
 '244108',
 '243240',
 '434486',
 '690354',
 '309282',
 '11775',
 '325549',
 '137899',
 '404012',
 '235788',
 '863883',
 '370078',
 '24080',
 '56684',
 '719811',
 '751500',
 '12885',
 '436462',
 '310277',
 '404014',
 '351082',
 '4372',
 '356809',
 '428851',
 '342750',
 '428301',
 '20971',
 '405622',
 '400465',
 '407051',
 '421224',
 '74592',
 '199741',
 '525',
 '384084',
 '225459',
 '223736',
 '221836',
 '299817',
 '13831',
 '439417',
 '216965',
 '43096',
 '11396',
 '351475',
 '98016',
 '111417',
 '13853',
 '333175',
 '125489',
 '411279',
 '397287',
 '370297',
 '86372',
 '154918',
 '330060',
 '136268',
 '299855',
 '349860',
 '435907',
 '810898',
 '248756',
 '162779',
 '351119',
 '357599',
 '305444',
 '407516',
 '325853',
 '109251',
 '69055',
 '145783',
 '318742',
 '318649',
 '381816',
 '117801',
 '280055',
 '160320',
 '221838',
 '140964',
 '147880',
 '146889',
 '196721',
 '61702',
 '7377',
 '41894',
 '347349',
 '262368',
 '125326',
 '114394',
 '427314',
 '798208',
 '75382',
 '81332',
 '101423',
 '349879',
 '346777',
 '387179',
 '436588',
 '40519',
 '344314',
 '439560',
 '258356',
 '98947',
 '549997',
 '436373',
 '603856',
 '26430',
 '250845',
 '59638',
 '235417',
 '376226',
 '151240',
 '155598',
 '404190',
 '59269',
 '286587',
 '409399',
 '21638',
 '58606',
 '245689',
 '368161',
 '125010',
 '161926',
 '100931',
 '374214',
 '253759',
 '375800',
 '360266',
 '352176',
 '159449',
 '421342',
 '8959',
 '262642',
 '418214',
 '362745',
 '301400',
 '402352',
 '389507',
 '389563',
 '67956',
 '368524',
 '75160',
 '142566',
 '854889',
 '305844',
 '124161',
 '390566',
 '850471',
 '198169',
 '264659',
 '350003',
 '7845',
 '158135',
 '329218',
 '226957',
 '18431',
 '18145',
 '54030',
 '288031',
 '328643',
 '215565',
 '124754',
 '199628',
 '124000',
 '148103',
 '115833',
 '57789',
 '372112',
 '383179',
 '190962',
 '365720',
 '99009',
 '670631',
 '380626',
 '242281',
 '228928',
 '407350',
 '346424',
 '251291',
 '613093',
 '78719',
 '404734',
 '219422',
 '322851',
 '322703',
 '95703',
 '252673',
 '98361',
 '325523',
 '42750',
 '280264',
 '90031',
 '50536',
 '76549',
 '371117',
 '187465',
 '248141',
 '438616',
 '298754',
 '10778',
 '433356',
 '436751',
 '265834',
 '706343',
 '433294',
 '294733',
 '201832',
 '349010',
 '381267',
 '387674',
 '309441',
 '316699',
 '399989',
 '366238',
 '764013',
 '90638',
 '431251',
 '280248',
 '157501',
 '436433',
 '348999',
 '334072',
 '109314',
 '91569',
 '9500',
 '247096',
 '412287',
 '332590',
 '976',
 '510762',
 '222084',
 '750915',
 '35920',
 '169940',
 '537267',
 '209281',
 '426783',
 '258286',
 '91484',
 '160731',
 '389578',
 '685166',
 '114585',
 '251166',
 '299697',
 '32802',
 '36047',
 '472328',
 '11212',
 '703695',
 '10644',
 '519237',
 '330170',
 '180953',
 '198569',
 '64087',
 '36127',
 '246364',
 '705884',
 '13987',
 '133996',
 '319887',
 '241067',
 '327512',
 '62008',
 '392409',
 '243054',
 '428195',
 '439959',
 '92392',
 '440810',
 '389000',
 '378523',
 '426318',
 '6720',
 '13380',
 '114678',
 '284',
 '719611',
 '416962',
 '336584',
 '428928',
 '430898',
 '282463',
 '305296',
 '2029',
 '352378',
 '138465',
 '187400',
 '56373',
 '107247',
 '242950',
 '286331',
 '132523',
 '204906',
 '754293',
 '292083',
 '765955',
 '156753',
 '344057',
 '11880',
 '200487',
 '244569',
 '149721',
 '412313',
 '391974',
 '153688',
 '320956',
 '62220',
 '391394',
 '619923',
 '410471',
 '121338',
 '785494',
 '214581',
 '352993',
 '246224',
 '359734',
 '349275',
 '43729',
 '270993',
 '271469',
 '102222',
 '171983',
 '416199',
 '696753',
 '141770',
 '404631',
 '253577',
 '318859',
 '530267',
 '29129',
 '56555',
 '365788',
 '235999',
 '151118',
 '46272',
 '319130',
 ...}

In [9]:
rec_lines = []

with open("goodreads_interactions.csv", 'r') as f:
    while True:
        line = f.readline()
        if not line:
            break
        user_id, csv_id, _, rating, _ = line.split(",")
        
        if user_id in overlap_users:
            book_id = csv_book_mapping[csv_id]
            rec_lines.append([user_id, book_id, rating])

In [10]:
import pandas as pd

recs = pd.DataFrame(rec_lines, columns=["user_id", "book_id", "rating"])
recs["book_id"] = recs["book_id"].astype(str)

In [11]:
recs

        user_id   book_id rating
0           284    977284      3
1           284    890054      4
2           284    837153      3
3           284   1586480      4
4           284     41814      5
...         ...       ...    ...
1530252  873216    127455      0
1530253  873216  10365343      0
1530254  873216  16131077      0
1530255  873216  18781576      0
1530256  873216     43615      0

[1530257 rows x 3 columns]

In [17]:
top_recs = recs["book_id"].value_counts().head(10)
top_recs

2767052     1092
29983711    1089
2657        1074
3           1048
4671        1028
18143977     977
38447        911
5470         907
77203        886
5107         886
Name: book_id, dtype: int64

In [18]:
top_recs = top_recs.index.values
top_recs

array(['2767052', '29983711', '2657', '3', '4671', '18143977', '38447',
       '5470', '77203', '5107'], dtype=object)

In [14]:
books_titles = pd.read_json("books_titles.json")
books_titles["book_id"] = books_titles["book_id"].astype(str)

In [15]:
books_titles.head()

,book_id,title,ratings,url,cover_image,mod_title
0,1333909,Good Harbor,10,https://www.goodreads.com/book/show/1333909.Go...,https://s.gr-assets.com/assets/nophoto/book/11...,good harbor
1,7327624,"The Unschooled Wizard (Sun Wolf and Starhawk, ...",140,https://www.goodreads.com/book/show/7327624-th...,https://images.gr-assets.com/books/1304100136m...,the unschooled wizard sun wolf and starhawk 12
2,6066819,Best Friends Forever,51184,https://www.goodreads.com/book/show/6066819-be...,https://s.gr-assets.com/assets/nophoto/book/11...,best friends forever
3,287140,Runic Astrology: Starcraft and Timekeeping in ...,15,https://www.goodreads.com/book/show/287140.Run...,https://images.gr-assets.com/books/1413219371m...,runic astrology starcraft and timekeeping in t...
4,287141,The Aeneid for Boys and Girls,46,https://www.goodreads.com/book/show/287141.The...,https://s.gr-assets.com/assets/nophoto/book/11...,the aeneid for boys and girls

In [19]:
books_titles[books_titles["book_id"].isin(top_recs)]

,book_id,title,ratings,url,cover_image,mod_title
71398,77203,The Kite Runner,1848782,https://www.goodreads.com/book/show/77203.The_...,https://images.gr-assets.com/books/1484565687m...,the kite runner
386663,2767052,"The Hunger Games (The Hunger Games, #1)",4899965,https://www.goodreads.com/book/show/2767052-th...,https://images.gr-assets.com/books/1447303603m...,the hunger games the hunger games 1
546297,5107,The Catcher in the Rye,2086945,https://www.goodreads.com/book/show/5107.The_C...,https://images.gr-assets.com/books/1398034300m...,the catcher in the rye
630937,4671,The Great Gatsby,2758812,https://www.goodreads.com/book/show/4671.The_G...,https://images.gr-assets.com/books/1490528560m...,the great gatsby
838525,5470,1984,2023937,https://www.goodreads.com/book/show/5470.1984,https://images.gr-assets.com/books/1348990566m...,1984
1031472,38447,The Handmaid's Tale,648783,https://www.goodreads.com/book/show/38447.The_...,https://images.gr-assets.com/books/1498057733m...,the handmaids tale
1077226,2657,To Kill a Mockingbird,3255518,https://www.goodreads.com/book/show/2657.To_Ki...,https://images.gr-assets.com/books/1361975680m...,to kill a mockingbird
1195873,18143977,All the Light We Cannot See,498685,https://www.goodreads.com/book/show/18143977-a...,https://images.gr-assets.com/books/1451445646m...,all the light we cannot see
1196415,3,Harry Potter and the Sorcerer's Stone (Harry P...,4765497,https://www.goodreads.com/book/show/3.Harry_Po...,https://images.gr-assets.com/books/1474154022m...,harry potter and the sorcerers stone harry pot...
1446134,29983711,Pachinko,8161,https://www.goodreads.com/book/show/29983711-p...,https://images.gr-assets.com/books/1462393298m...,pachinko

In [20]:
all_recs = recs["book_id"].value_counts()

In [21]:
all_recs = all_recs.to_frame().reset_index()
all_recs.columns = ["book_id", "book_count"]

In [22]:
all_recs.head(5)

    book_id  book_count
0   2767052        1092
1  29983711        1089
2      2657        1074
3         3        1048
4      4671        1028

In [23]:
all_recs = all_recs.merge(books_titles, how="inner", on="book_id")

In [24]:
all_recs["score"] = all_recs["book_count"] * (all_recs["book_count"] / all_recs["ratings"])

In [25]:
all_recs.sort_values("score", ascending=False).head(10)

,book_id,book_count,title,ratings,url,cover_image,mod_title,score
1,29983711,1089,Pachinko,8161,https://www.goodreads.com/book/show/29983711-p...,https://images.gr-assets.com/books/1462393298m...,pachinko,145.315648
7261,35069544,29,This Will Be My Undoing: Living at the Interse...,8,https://www.goodreads.com/book/show/35069544-t...,https://images.gr-assets.com/books/1502099764m...,this will be my undoing living at the intersec...,105.125000
14752,29749094,15,"Superman (DC Icons, #4)",7,https://www.goodreads.com/book/show/29749094-s...,https://s.gr-assets.com/assets/nophoto/book/11...,superman dc icons 4,32.142857
238,4408,327,East of Eden,3447,https://www.goodreads.com/book/show/4408.East_...,https://images.gr-assets.com/books/1323882457m...,east of eden,31.020888
724,9317691,175,The Name of the Wind (The Kingkiller Chronicle...,1043,https://www.goodreads.com/book/show/9317691-th...,https://images.gr-assets.com/books/1360558233m...,the name of the wind the kingkiller chronicle 1,29.362416
236,32920226,328,"Sing, Unburied, Sing",4592,https://www.goodreads.com/book/show/32920226-s...,https://images.gr-assets.com/books/1499340866m...,sing unburied sing,23.428571
13156,36301023,17,"My Plain Jane (The Lady Janies, #2)",13,https://www.goodreads.com/book/show/36301023-m...,https://images.gr-assets.com/books/1507936746m...,my plain jane the lady janies 2,22.230769
13025,26857046,17,The Invisible Life of Addie La Rue,13,https://www.goodreads.com/book/show/26857046-t...,https://s.gr-assets.com/assets/nophoto/book/11...,the invisible life of addie la rue,22.230769
16306,35430702,14,The Lady's Guide to Petticoats and Piracy,9,https://www.goodreads.com/book/show/35430702-t...,https://s.gr-assets.com/assets/nophoto/book/11...,the ladys guide to petticoats and piracy,21.777778
216,30753987,342,The Leavers,5602,https://www.goodreads.com/book/show/30753987-t...,https://images.gr-assets.com/books/1489158974m...,the leavers,20.878972

In [26]:
all_recs[all_recs["book_count"] > 200].sort_values("score", ascending=False).head(10)

,book_id,book_count,title,ratings,url,cover_image,mod_title,score
1,29983711,1089,Pachinko,8161,https://www.goodreads.com/book/show/29983711-p...,https://images.gr-assets.com/books/1462393298m...,pachinko,145.315648
238,4408,327,East of Eden,3447,https://www.goodreads.com/book/show/4408.East_...,https://images.gr-assets.com/books/1323882457m...,east of eden,31.020888
236,32920226,328,"Sing, Unburied, Sing",4592,https://www.goodreads.com/book/show/32920226-s...,https://images.gr-assets.com/books/1499340866m...,sing unburied sing,23.428571
216,30753987,342,The Leavers,5602,https://www.goodreads.com/book/show/30753987-t...,https://images.gr-assets.com/books/1489158974m...,the leavers,20.878972
249,8153988,322,"The Eye of the World (Wheel of Time, #1)",5740,https://www.goodreads.com/book/show/8153988-th...,https://images.gr-assets.com/books/1465920672m...,the eye of the world wheel of time 1,18.063415
441,33253215,236,The Heart's Invisible Furies,3629,https://www.goodreads.com/book/show/33253215-t...,https://images.gr-assets.com/books/1490803456m...,the hearts invisible furies,15.347479
71,30688435,533,Exit West,21378,https://www.goodreads.com/book/show/30688435-e...,https://images.gr-assets.com/books/1477324680m...,exit west,13.288848
251,32283423,321,American War,7776,https://www.goodreads.com/book/show/32283423-a...,https://images.gr-assets.com/books/1481494946m...,american war,13.251157
228,26025588,335,Behold the Dreamers,8793,https://www.goodreads.com/book/show/26025588-b...,https://images.gr-assets.com/books/1439643293m...,behold the dreamers,12.762993
345,17912498,266,The Queen of the Night,6115,https://www.goodreads.com/book/show/17912498-t...,https://images.gr-assets.com/books/1460425080m...,the queen of the night,11.570891

In [27]:
popular_recs = all_recs[all_recs["book_count"] > 200].sort_values("score", ascending=False)
popular_recs

,book_id,book_count,title,ratings,url,cover_image,mod_title,score
1,29983711,1089,Pachinko,8161,https://www.goodreads.com/book/show/29983711-p...,https://images.gr-assets.com/books/1462393298m...,pachinko,145.315648
238,4408,327,East of Eden,3447,https://www.goodreads.com/book/show/4408.East_...,https://images.gr-assets.com/books/1323882457m...,east of eden,31.020888
236,32920226,328,"Sing, Unburied, Sing",4592,https://www.goodreads.com/book/show/32920226-s...,https://images.gr-assets.com/books/1499340866m...,sing unburied sing,23.428571
216,30753987,342,The Leavers,5602,https://www.goodreads.com/book/show/30753987-t...,https://images.gr-assets.com/books/1489158974m...,the leavers,20.878972
249,8153988,322,"The Eye of the World (Wheel of Time, #1)",5740,https://www.goodreads.com/book/show/8153988-th...,https://images.gr-assets.com/books/1465920672m...,the eye of the world wheel of time 1,18.063415
...,...,...,...,...,...,...,...,...
546,7735333,205,"Matched (Matched, #1)",522712,https://www.goodreads.com/book/show/7735333-ma...,https://images.gr-assets.com/books/1367706191m...,matched matched 1,0.080398
453,5139,233,"The Devil Wears Prada (The Devil Wears Prada, #1)",675927,https://www.goodreads.com/book/show/5139.The_D...,https://s.gr-assets.com/assets/nophoto/book/11...,the devil wears prada the devil wears prada 1,0.080318
560,10507293,201,"The Selection (The Selection, #1)",530867,https://www.goodreads.com/book/show/10507293-t...,https://images.gr-assets.com/books/1322103400m...,the selection the selection 1,0.076104
320,15931,280,"The Notebook (The Notebook, #1)",1064723,https://www.goodreads.com/book/show/15931.The_...,https://images.gr-assets.com/books/1385738917m...,the notebook the notebook 1,0.073634
326,10818853,276,"Fifty Shades of Grey (Fifty Shades, #1)",1348198,https://www.goodreads.com/book/show/10818853-f...,https://images.gr-assets.com/books/1385207843m...,fifty shades of grey fifty shades 1,0.056502

In [28]:
def make_clickable(val):
    return '<a target="_blank" href="{}">Goodreads</a>'.format(val, val)

def show_image(val):
    return '<a href="{}"><img src="{}" width=50></img></a>'.format(val, val)


popular_recs[~popular_recs["book_id"].isin(liked_books)].head(10).style.format({'url': make_clickable, 'cover_image': show_image})